
<! --- this is the css folder --->
 <style>
        body {
    background-color: rgb(5,5,5);
 }
 
 
  

             h6 {
      color: lightgreen;
 }         
             p1 {
      color: lightgreen;
 }   


    
         p1 {
   text-align: center;
 }
          h6 {
   text-align: center;
 } 
   
   
   
         p1 {
       text-decoration: none;
     }   
          h6 {
       text-decoration: none;
     }  


     
            p1 {
  font-family: "Lucida Console", "Courier New", monospace;
 }
                  h6 {
  font-family: "Lucida Console", "Courier New", monospace;
 }
          .1button {
   text-align: center;
   height: 200px;
   width: 50%;
   background-color: darkgreen;        
}





</style>
