<!DOCTYPE css>
<! --- this is the css folder --->
<style>
       body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPDDN8kp8yO6nskEl4pbYbda4-JFi80f6cvg&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
 </head>
 <body>
  <style>

        p1{
      color: lightgreen;
 }         
      
    
         p1 {
   text-align: center;
 }
                h6 {
   text-align: center;
 } 
   
   
   
         p1 {
       text-decoration: none;
     }   
         p.uppercase {
  text-transform: uppercase;
}
            p1 {
  text-shadow: 2px 2px 5px grey;
}
            .p1 {
  font-family: "Lucida Console", "Courier New", monospace;
 }
             div {
  border: 1p solid white;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
            @keyframes text1 {
  from {background-color: green;}
  to {background-color: brown;}
}             
             p1{
         animation-name: text1;
    }             
                       
     h6 {
       text-decoration: none;
     }           
               .h6 {
  font-family: "Lucida Console", "Courier New", monospace;
 }








</style>
